spring:
  application.name: hhplus-e-commerce

  datasource:
    url: jdbc:mysql://localhost:3306/commerce?serverTimezone=UTC&characterEncoding=UTF-8
    username: root
    password: admin
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        show-sql: true
#        format_sql:   # p6spy 사용으로 인한 제거
        # 영속성 컨텍스트 초기화 시점에 테이블 스키마를 어떻게 처리할지 설정
        # create: 기존 테이블 삭제 후 재생성 (개발 단계에서만 사용)
        # update: 변경된 부분만 반영 (개발/테스트 단계)
        # validate: 엔티티와 DB 스키마를 비교하고 다르면 경고/오류 발생 (운영 단계 권장)
        # none: 아무것도 하지 않음 (운영 단계 권장)
        hbm2ddl:
          auto: create
    jpa-auditing:
      enabled: true

decorator:
  datasource:
    p6spy:
      enable-logging: true
